@using DAL.ViewModels
@model MenuViewModel;

@if (Model == null)
{
    <p>No modifiers found.</p>
}

<!-- Modifiers -->
@{
    int index_mod = 0;
}
@foreach (var mod in Model.modifierGroupList)
{
    <a class="ModifierGet @(index_mod==0 ? "active-category" : "") d-flex align-items-center justify-content-between col-12 p-2 ps-3 text-decoration-none text-secondary"
        data-id="@mod.ModifierGrpId">

        <div class="d-flex justify-content-start">
            <i class="fa-solid fa-grip-vertical me-2 mt-1"></i>
            <p class="mt-1">@mod.ModifierGrpName</p>
        </div>

        <div class="d-flex text-secondary justify-content-end">
            <input type="hidden" value="@mod.Desciption">
            <i class="fa-solid fa-pen me-2 text-secondary" onclick="GetDetailsForModifierGroupUpdate(this)"
                data-id="@mod.ModifierGrpId" data-bs-toggle="modal" data-bs-target="#exampleModal-editModifierGroup"></i>
            <i class="fa-solid fa-trash-can text-secondary" onclick="GetIdForDeleteModifierGroup(this)"
                data-id="@mod.ModifierGrpId" data-bs-toggle="modal" data-bs-target="#exampleModal-deleteModifierGroup"></i>
        </div>
    </a>
    index_mod++;
}