@model DAL.ViewModels.AddUserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- user list -->
<div class="user-list-main-div bg-light d-md-flex justify-content-between">
    <!-- user txt -->

    <div class="user-text fs-3 fw-bold ms-3 mt-3">Add New User</div>


    <!-- search add user -->
    <div class="search-adduser-div d-flex justify-content-end  align-items-center">
        <div class="add-user-button ">
            <a asp-action="UserListData" asp-controller="User"
                class="add-user-button btn hollow-btn  p-sm-2 mt-2 ms-3 me-4 ">
                <i class="bi bi-caret-left-fill"></i>Back</a>
        </div>

    </div>

</div>

<!-- form -->
<form asp-action="AddUser" asp-controller="User" class="form-main-div mt-3 mx-auto bg-white shadow-lg"
    style="width: 96%;" enctype="multipart/form-data">
    <div class="form-main-div mt-3 mx-auto bg-white " style="width: 98%;">
        <div class="row">
            <!-- two cols -->
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                <div class="form-floating  ">
                    <input type="text" asp-for="FirstName" class="form-control" id="floatingInput"
                        placeholder="First Name">
                    <label for="floatingInput" asp-for="FirstName" class="fs-6 text-secondary">First Name</label>
                    <span asp-validation-for="FirstName" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                <div class="form-floating ">
                    <input type="text" asp-for="LastName" class="form-control" id="floatingInput"
                        placeholder="Last Name">
                    <label for="floatingInput" asp-for="LastName" class="fs-6 text-secondary">Last Name</label>
                    <span asp-validation-for="LastName" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                <div class="form-floating  ">
                    <input type="text" asp-for="Username" class="form-control" id="floatingInput"
                        placeholder="John Deo">
                    <label for="floatingInput" asp-for="Username" class="fs-6 text-secondary">Username</label>
                    <span asp-validation-for="Username" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                <div class="form-floating ">
                    <select class="form-select" asp-for="RoleId" asp-items="@ViewBag.Roles" id="Roles"
                        aria-label="Floating label select example">
                    </select>
                    <label for="floatingSelect text-secondary">Role</label>
                </div>
            </div>

            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3">
                <div class="form-floating ">
                    <input type="email" asp-for="Email" class="form-control" id="floatingInput"
                        placeholder="abc2gmail.com">
                    <label for="floatingInput" asp-for="Email" class="fs-6 text-secondary">Email</label>
                    <span asp-validation-for="Email" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-6 col-sm-12 col-12 mt-3 ">
                <div class="form-floating text-secondary ">
                    <input type="password" asp-for="Password" class="form-control d-inline" id="pass-inp"
                        placeholder="Password" />
                    <i class="bi bi-eye-slash-fill pass-icon" id="togglePassword"></i>
                    <label for="password" asp-for="Password">Password</label>
                    <span asp-validation-for="Password" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>

            <div class="col-12 mt-3 d-flex justify-content-center align-content-center ">
                <div class="browswe-file d-flex justify-content-center align-items-center  text-secondary browse-file-div bg-white"
                    style="height: 90px; width: 100%;  ">
                    <input type="file" asp-for="ProfileImage" class=" d-none " id="choose-file" />
                    <label for="choose-file">
                        <i class="fa-solid fa-cloud-arrow-up d-flex justify-content-center ms-1 mb-1"></i> <span
                            id="browseFileText">Browse files</span></label>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                <div class="form-floating">
                    <select asp-for="CountryId" class="form-select" id="Countries"
                        aria-label="Floating label select example" asp-items="@ViewBag.Countries">
                        <option value="-1">Select Country</option>
                    </select>
                    <label for="floatingSelect text-secondary">Country</label>
                    <span asp-Validation-for="CountryId" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                <div class="form-floating ">
                    <select class="form-select" asp-for="StateId" asp-items="@ViewBag.States" id="States"
                        aria-label="Floating label select example"> </select>
                    <label for="floatingSelect text-secondary">State</label>
                    <span asp-Validation-for="StateId" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                <div class="form-floating ">
                    <select class="form-select" asp-for="CityId" asp-items="@ViewBag.Cities" id="Cities"
                        aria-label="Floating label select example"></select>
                    <label for="floatingSelect text-secondary">City</label>
                    <span asp-Validation-for="CityId" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                <div class="form-floating">
                    <input asp-for="Zipcode" type="text" class="form-control" id="floatingInput" placeholder="John Deo">
                    <label asp-for="Zipcode" for="floatingInput" class="fs-6 text-secondary">Zipcode</label>
                    <span asp-validation-for="Zipcode" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                <div class="form-floating ">
                    <input asp-for="Address" type="text" class="form-control" id="floatingInput" placeholder="John Deo">
                    <label asp-for="Address" for="floatingInput" class="fs-6 text-secondary">Address</label>
                    <span asp-validation-for="Address" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 col-xl-4 col-12 mt-3">
                <div class="form-floating">
                    <input asp-for="Phone" type="number" class="form-control" id="floatingInput" placeholder="John Deo">
                    <label asp-for="Phone" for="floatingInput" class="fs-6 text-secondary">Phone</label>
                    <span asp-validation-for="Phone" class="text-danger ms-1 mt-2 validate"></span>
                </div>
            </div>

            <span class="text-danger">@ViewBag.Message</span>

            <div class="create-user-cancel-div mt-4 mb-4">
                <button type="submit" class="btn solid-btn">Create User</button>
                <a type="button" asp-action="UserListData" asp-controller="User" class="btn hollow-btn">Cancel</a>
            </div>
</form>







@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    @* Toggle Password *@
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#pass-inp');

        if (togglePassword) {
            togglePassword.addEventListener('click', () => {

                const type = password
                    .getAttribute('type') === 'password' ?
                    'text' : 'password';
                password.setAttribute('type', type);
                togglePassword.classList.toggle('bi-eye-fill');
                togglePassword.classList.toggle('bi-eye-slash-fill');
            });
        }


    </script>

    @* Country,City,State *@
    <script>

        $(document).ready(function () {
            $('#Countries').change(function () {
                var countryId = $(this).val();
                console.log(countryId);

                $.getJSON('@Url.Action("GetStates", "User")', { countryId: countryId }, function (states) {
                    var statesSelect = $('#States');
                    console.log(states);
                    statesSelect.empty();
                    $("#Cities").empty();
                    statesSelect.append('<option selected value="">Select State</option>');
                    $("#Cities").append('<option selected value="">Select City</option>');
                    $.each(states, function (index, state) {
                        statesSelect.append($('<option/>', {
                            value: state.value,
                            text: state.text
                        }));
                    });
                });
            });
            $('#States').change(function () {
                var stateId = $(this).val();
                $.getJSON('@Url.Action("GetCities", "User")', { stateId: stateId }, function (cities) {
                    var citiesSelect = $('#Cities');
                    citiesSelect.empty();
                    citiesSelect.append('<option selected value="">Select City</option>');
                    $.each(cities, function (index, city) {
                        citiesSelect.append($('<option/>', {
                            value: city.value,
                            text: city.text
                        }));
                    });
                });
            });
        });
    </script>

    @* Toaster Script *@
    <script>
        $(document).ready(function () {
            var successMessage = '@TempData["SuccessMessage"]';
            var errorMessage = '@TempData["ErrorMessage"]';
            var addUserErrorMessage = '@TempData["addUserErrorMessage"]';
            console.log("successMessage", successMessage);
            toastr.options = {
                "closeButton": true,
                "progressBar": true,
                "timeOut": "2000"
            };
            if (successMessage) {
                toastr.success(successMessage);
            }
            if (addUserErrorMessage) {
                toastr.error(addUserErrorMessage);
            }
            if (errorMessage) {
                toastr.error(errorMessage);
            }
        });
    </script>

    @* Display FileName *@
    <script>
        $("#choose-file").change(function () {
            const file = this.files[0];
            $("#browseFileText").text(file.name);
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}